/* PROJECT COLOUR VARIABLES */
:root {

    --main-color: #0081A7;
    --second-color: #b8d5b8;
    --text-high-color: #FDFCDC;
}

a {
    text-decoration: none;
}

body {
    background-color: #FDFCDC;
}

#navbar {
    background-color: transparent;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    height: 90px;
    width: 100%;
    padding: 0 55px;
    z-index: 4;

}

.main-nav {
    font-family: 'Pacifico', sans-serif;
    font-weight: 600;
    font-size: 280%;
    color: #F67167 !important;
    text-shadow: 2px 2px black;
    margin-left: 40px;
}


#navbarNav {
    justify-content: flex-end;
    margin-right: 20px;
    padding-bottom: 5px;


}

#navbarNav a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 5px;
    color: black !important;


}

.nav-item {
    padding: 0 15px;
}

.main-info {
    position: relative;
    height: 30%;
}

.jumbo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
}
.jumbo p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#FDFCDC;
}

.jumbo h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}

.carousel-inner {
    width: 100%;
    max-height: 125vh !important;
}


.carouselCard {
    background-color: #00000070;
    padding: 30px 40px;
    color: azure;
}

.carouselCard h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.takeQuizButton {
    margin-top: 30px;
    padding: 10px 30px;
    color: white;
    background-color: #F67167;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 150%;
    box-shadow: 0 2px 10px #00000055;
    /* transition: all 0.3s ease-in-out; */
}
.takeQuizButton:hover{
    transform: scale(1.25) perspective(1px);
}


.takeQuizButton a {
    text-decoration: none !important;
    color: #FFFFFF !important;
    
}



.jumbo-break {
    background-color: #000000;
    height: 150px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.jumbo-break h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    letter-spacing: 10px;
    width: 220px;
    border-bottom: 2px solid white;
    
}

#results-title {
    text-align: center;
    margin: 140px 0;
    font-family: 'Shrikhand', serif;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 9px;
    color: #107392;
    text-shadow: -1px -1px 1px #FFFFFF;
    /* text-shadow: 0 2px 2px black; */
}

#big-results-title {
    font-size: 4.5rem;
    text-shadow: -3px -2px 1px #000000;
    color: var(--main-color);
    text-align: center;
}

.resultsCards {
    justify-content: space-around;
    margin: 100px 0;
    text-align: center;
    background-color: #0081A7;
    padding: 50px 20px
}

.resultsCards h5 {
    font-family: 'Shrikhand', serif;
}
