:root {

    --main-color: #0081A7;
    --second-color: #b8d5b8;
    --text-high-color: #FDFCDC;
    --logo-color:#F67167;
}
/*start and end points for actions in animation. */
@keyframes animate-glow {
    0% {
      opacity: 0;
      filter: brightness(3) saturate(3);
      transform: scale(0.8, 0.8);
    }
    100% {
      opacity: 1;
      filter: brightness(1) saturate(1);
      transform: scale(1, 1);
    }
  }

/*copied navbar*/
a {
    text-decoration: none;
}

body {
    background-color: #FDFCDC;
}

#navbar {
    background-color: transparent;
    justify-content: space-around;
    align-items: flex-end;
    height: 90px;
    width: 100%;
    padding: 0 55px;
    margin-bottom:5%;

}
.main-nav {
    font-family: 'Pacifico', sans-serif;
    font-weight: 600;
    font-size: 280%;
    color: #F67167 !important;
    text-shadow: 2px 2px black;
    margin-left: 40px;
}
#navbarNav {
    justify-content: flex-end;
    margin-right: 20px;
    padding-bottom: 5px;
}
#navbarNav a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 5px;
    color: black !important;
}
#navbarNav a:hover {
    color: var(--logo-color) !important;
}
.nav-item {
    padding: 0 15px;
}

#aboutModal,
#subscribeModal {
    text-align: center;

}

.modal-nav:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-dialog-nav {
    display: inline-block;
    vertical-align: middle;
}

.modal-title-nav {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    margin: 0 auto;
    font-size: 50px;
}

.modal-content-nav {
    background-color: #b8d5b8
}

.modal-body-nav p {
    font-size: 1rem;
}

/* Sets fonts for and colour for subscribe modal */

#email-label {
    font-family: 'Pacifico', sans-serif;
}

.subscribe-footer {
    display: flex;
    justify-content: center;
}

.subscribe-button {
    background-color: #F67167;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 5px #00000030;
}
/*here all the styles copied from main style end*/

#chosen-holiday{
    background-color: var(--second-color);
    padding:2%;
    margin-bottom:5%;

}
#resultsdiv{
    width:70%;
}

#results-title{
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
    animation-name: animate-glow;
    animation-timing-function: ease;
    overflow-x: hidden;
    text-align: center;
    color: var(--main-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4rem;
    letter-spacing: 5px;
    animation-delay: 0.5s;
}
#holiday-description{
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
    animation-name: animate-glow;
    animation-timing-function: ease;
    overflow-x: hidden;
    width:80%;
    margin-left:10%;
   text-align:center;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size:1.5rem ;
   animation-delay: 1s;

}
.resultsCards{
    background:var(--main-color);
    padding:1%;
 
}
.suggestion-card{
    max-height:50vh;
    width:30%;
    background-color: var(--text-high-color);
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.44); 
    box-shadow: 5px 5px 13px 0px rgba(0,0,0,0.44);
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
    animation-name: animate-glow;
    animation-timing-function: ease;
    overflow-x: hidden;
}/*animated creating of the card*/
.card-body{
    overflow:scroll;
    overflow-x: hidden;
    border-top: solid 2px var(--logo-color);
}

.card-body::-webkit-scrollbar {
    background-color:rgba(0,0,0,0);
    width:10px;
   
  }
.card-body::-webkit-scrollbar-thumb {
    background: var(--second-color);
  }


#attraction{/*adding delays so hopefully api will be in place*/
animation-delay: 4.9s;
}
#hotel{
animation-delay: 5.4s ;
}
#restaurant{
animation-delay: 5.9s;
}
#hotel-btn ,#attraction-btn , #restaurant-btn{
    background-color: #F67167;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 5px #00000030;
    text-decoration: none;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;   
}
.card-title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2rem;
}

.card-img-top{
    object-fit:cover;
}
.navBtnToggled{
    color:black;
}
/* Styles for footer at base of page */


#footer {
    background-color: #107392;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:100vw;
    margin-top: 10%;

}

.footer-title {
    color: white !important;
    font-family: 'Pacifico', sans-serif;
    margin-left: 50px;
}

.footer-info {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
}

/* Styles icons for social media links */

#icons-footer {
    width: 200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px
}

#icons-footer a {
    color: #FFFFFF;
    background-color: #0081A7;
    width: 30px;
    padding: 8px 0;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
}
/*media querries tablet*/
@media (max-width:1190px){
    #resultsdiv{
        width:100% !important;
        padding:0 !important;
        margin:0% !important;
    }
    #chosen-holiday{
        width: 100% !important;

    }

}
/*media querries phone*/
@media(max-width:500px){
    #navbarNav {
        background-color: var(--main-color);
        margin-top:1%;
        border: double 2px var(--logo-color);
        height: 40vh;
        width:max-content;
        text-align: center;
    
    }
    #resultsdiv{
        margin-top:20% !important;
        width:100vw !important;
        padding:0 !important;
        margin-left:0px !important;
    }
    .suggestion-card{
        max-height:80vh;
    }
    #icons-footer {
        display: inline;
        margin-right: -15%;
    }
    .footer-title {
        color: white !important;
        font-family: 'Pacifico', sans-serif;
        margin-left:0;
    }
    #footer{
        justify-content: flex-start;
        margin-top:10%;
        width:100%;
    }
    .resultsCards{
        background:var(--main-color);
        width:104vw;
     
    }
    .footer-info {
        text-align: left;
        left: 60%;
    }

}